html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 35em;
	width: 35em;
	cursor: pointer !important;
}

.col-centered {
	float: none;
	margin: 10% 0 0% 0%;

}

#footer{
	background-color: #124c12!important;
}

#navybar {
	background-color: #124c12!important;
}

#sideNav {
	background-color: #124c12!important;
}

.text-primary {
	color: #4c124c!important;
}
h3 {
	color: #4c124c;
}
p{
	color: #4c124c;
}